@use '../../shared/constants/colors' as colors;

.dashboard__heading {
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}

.discussion__link {
    text-decoration: none;
    color: colors.$black;
}

.cards__container {
    display: flex;
    justify-content: space-between;
}
.tabs__header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.filter__container {
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.btn__filter {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}