.search__container {
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: 150px;
    background-color: unset;
    box-shadow: unset !important;
}
.searchBox {
    display: flex;
    align-items: center;
}

.input_search {
    margin-top: 22px;
    width: 100%;
}